#assessments_index {
  .table-container { overflow: auto; width: 100%; }
  th.user { width: 20em; }
  .average, .grade { text-align: center; width: 75px; }
  @for $i from 0 through 10 {
    .grade-#{$i} {
      background-color: mix(lighten(#F52C33, 30), #FFFFFF, 100-$i*10);
    }
    .average-#{$i} {
      background-color: mix(#F52C33, #666666, 100-$i*10);
      color: white;
    }
  }
  .standard-deviation { text-align: center; width: 20px; }
}
