p#notice = notice

javascript:
  jQuery(function() {
    var data = {
      labels: #{raw @experience.keys.to_json},
      datasets: [
        {
          label: "Experience",
          fillColor: "rgba(220,220,220,0.2)",
          strokeColor: "rgba(220,220,220,1)",
          pointColor: "rgba(220,220,220,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          data: #{raw @experience.values.map(&:to_f).to_json}
        },
        {
          label: "Performance",
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          data: #{raw @performance.values.map(&:to_f).to_json}
        }
      ]
    };
    Chart.defaults.global.responsive = true;
    var ctx = document.getElementById("student_chart").getContext("2d");
    var chart = new Chart(ctx).Radar(data, {});
    $('#student_chart_legend').replaceWith($(chart.generateLegend()));
  });


.row
  .small-6.columns
    = image_tag gravatar_url(@user.email, size: 256, default: 'retro')

    h1 = @user.name
    p.lead = @user.email

    ul.memberships
      - @user.memberships.each do |membership|
        li
          = link_to membership.group.name, membership.group
          small
            | &nbsp;&mdash;&nbsp;
            = t membership.role

  .small-6.columns
    canvas width="100%"
