figure.chart {
  position: relative;
  background-color: #FAFAFA;
  border-radius: 0.25em;
  margin: 0;
  text-align: center;
  canvas {
    max-width: 100%;
    padding: 20px 30px 20px 20px;
  }
}
.radar-legend {
  position: absolute;
  top: 10px;
  right: 20px;
  list-style-type: none;
  span {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -10%;
    margin-right: 0.25em;
  }
}
