.user {
  white-space: nowrap;
  img {
    border-radius: 5%;
    margin: 0 5px 2px 0;
  }
  .name {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
}

figure.chart {
  position: relative;
  background-color: #FAFAFA;
  border-radius: 0.25em;
  margin: 0;
  text-align: center;
}
.radar-legend {
  position: absolute;
  top: 10px;
  right: 20px;
  list-style-type: none;
  span {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -10%;
    margin-right: 0.25em;
  }
}
